.light-background {
  color: black;
}

header h1 {
  font-size: 3.5rem;
}

style[contenteditable="true"] {
  display: block;
  font-size: 1rem;
  line-height: 1rem;
}

.slide.current {
  overflow: scroll;
}

.slide pre:not(.documentation) {
  line-height: 0;
}
